body {
  min-width: 960px;
  margin: 0;
  padding: 0;

  font-family:  "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	-webkit-clip-path: inset(100%);

	        clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.button {
  display: block;
	margin: 0;
	padding: 10px 20px;
  box-sizing: border-box;

  font-family: "Cuprum", Arial Narrow, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;

	background-color: #ee3643;
	border: none;
  border-radius: 3px;

  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
  outline: none;
}

.button:active {
  color: #ffffff;

  background-color: #ba2732;
}

.button:disabled,
.button.disabled {
	border: none;
  border-radius: 3px;
  opacity: 0.5;

  cursor: default;
}

.main-header {
  background-color: #f3f7f8;
  margin-bottom: 60px;
  padding-bottom: 60px;
}

/*header-top*/
.nav-top {
  min-height: 40px;
  margin: 0;
  margin-bottom: 45px;

  font-family: "Cuprum", Arial Narrow, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;

  background-color: #293449;
}

.nav-top .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.logo {
  position: absolute;
  top: 0;
  width: 220px;
  height: 45px;
  padding: 11px 55px;
  box-sizing: border-box;

  text-align: center;
  vertical-align: middle;

  background-color: #ee3643;
  border: none;
  box-shadow: inset 0 -5px rgba(0, 0, 0, 0.3);
}

.logo:hover,
.logo:focus {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.logo img {
  width: 110px;
  height: 18px;
}

.site-search {
  position: relative;
  margin:0;
  margin-left: 220px;
  padding: 0;
}

.input-search {
  width: 270px;
  height: 40px;
  margin: 0;
  padding: 5px;
  padding-left: 50px;
  box-sizing: border-box;

  font: inherit;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;

  background-color: #293449;
  border: none;
}

.input-search::placeholder {
  font: inherit;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

.input-search:hover {
  background-color: #212a3a;
}

.input-search:focus {
  color: #000000;

  background-color: #ffffff;
  outline: none;
}

.input-search:focus::placeholder{
  color: #000000;
}

.site-search svg {
  position: absolute;
  left: 0;
  width: 17px;
  height: 17px;
  margin: 11px 10px 11px 15px;

  opacity: 0.3;
}

.input-search:hover + svg,
.input-search:focus + svg {
  opacity: 1;
}

.input-search:focus + svg path {
  fill: #ee3643;
}

.top-button {
  position: relative;
  width: 150px;
  margin: 0;
  padding: 11px;
  padding-left: 45px;
  box-sizing: border-box;

  color: #ffffff;
  text-align: left;
}

.bookmarks::before {
  content: "";
  position: absolute;
  left: 15px;
  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.cart::before {
  content: "";
  position: absolute;
  left: 15px;
  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.top-button:hover::before,
.top-button:focus::before {
  opacity: 1;
}

.top-button:active,
.top-button:active::before {
  opacity: 0.5;
}

.make-order {
  position: relative;
  width: 150px;
  margin: 0;
  padding: 11px 15px;
  box-sizing: border-box;

  color: #ffffff;
  text-align: center;

  background-color: #63a63e;
}

.make-order:hover,
.make-order:focus {
  background-color: #5fbb2d;
  opacity: 1;
}

.make-order:active {
  background-color: #518534;
  opacity: 0.5;
}

/*header-middle*/
.nav-middle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 45px;

  font-family: "Cuprum", Arial Narrow, sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-align: left;
}

.description {
  width: 210px;
  margin: 0;
  margin-left: 50px;

  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.nav-contacts {
  width: 270px;
}

.nav-contacts .phone {
  position: relative;
  width: 100%;
  height: 45px;
  margin: 0;
  margin-bottom: 2px;
  padding: 10px 40px 10px 70px;
  box-sizing: border-box;

  color: #ee3643;

  border: solid 3px #ffffff;
}

.nav-contacts .phone::before {
  content: "";
  position: absolute;
  left: 15px;
  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.nav-contacts .address {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;
}

.user-account {
  width: 300px;
}

.unknown,
.authorized {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.authorized {
  justify-content: flex-start;
  align-items: center;
}

.log-in,
.registration {
  margin: 0;
  padding: 12px 25px;

  color: #000000;

  background-color: #ffffff;
}

.log-in {
  position: relative;
  margin-left: 20px;
  padding-left: 50px;
}

.log-in::before {
  content: "";
  position: absolute;
  left: 15px;
  top: 11px;
  width: 20px;
  height: 17px;

  background-image: url("../img/icon-login.png");
  background-position: center;
  background-repeat: no-repeat;
}

.log-in:hover,
.registration:hover,
.log-in:focus,
.registration:focus {
  color: #ee3643;
}

.log-in:hover::before,
.log-in:focus::before {
  background-image: url("../img/icon-login-hover.png");
}

.log-in:active,
.registration:active {
  color: rgba(0, 0, 0, 0.3);
}

.log-in:disabled,
.log-in.disabled,
.registration:disabled,
.registration.disabled {
  opacity: 0.5;
  cursor: default;
}

.first-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5px;

  background-color: #ffffff;
}

.first-row a {
  display: inline-block;
  margin: 0;
  padding: 12px 10px;

  color: #000000;
  vertical-align: middle;
}

.first-row .fullname {
  position: relative;
  padding-left: 45px;
}

.first-row .fullname::before {
  content: "";
  position: absolute;
  left: 10px;
  width:20px;
  height: 18px;

  background-image: url("../img/icon-user.png");
  background-position: center;
  background-repeat: no-repeat;
}

.first-row .fullname:hover::before,
.first-row .fullname:focus::before {
  background-image: url("../img/icon-user-hover.png");
}

.first-row .fullname:active {
  color: rgba(0, 0, 0, 0.3);
}

.first-row svg {
  width: 21px;
  height: 17px;

  vertical-align: middle;
}

.log-out:hover path,
.log-out:focus path {
  fill: #32425c;
}

.log-out:active path {
  fill: #c5c5c5;
}

.user-link {
  margin: 0 15px;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.user-link:hover,
.user-link:focus {
  color: #ee3643;
}
.user-link:active {
  color: rgba(50, 66, 92, 0.3);
}

.authorized img {
  width: 4px;
  height: 4px;
}

.account-hidden {
  display: none;
}

/*heder-bottom*/
.nav-bottom {
  background-color: #32425c;
  box-shadow: inset 0 -5px #293449;
}

.nav-bottom  ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;

  list-style: none;
}

.nav-bottom  li {
  margin: 0;
  padding: 0;
}

.nav-bottom  a {
  display: block;
  margin: 0;
  padding: 20px 30px;

  font-family: "Cuprum", Arial Narrow, sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: #ffffff;
}

.nav-bottom  a:hover,
.nav-bottom  a:focus {
  background-color: #293449;
}

.nav-bottom  a:active,
.nav-bottom .current-page {
  color: rgba(255, 255, 255, 0.5);
  background-color: #293449;
}

/*main-index*/
.most-popular {
  margin-bottom: 50px;
}
.most-popular-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.most-popular-grid div {
  position: relative;
  width: 300px;
  height: 125px;
  margin-bottom: 20px;
  padding: 20px;
  padding-right: 140px;
  box-sizing: border-box;

  overflow: hidden;
}

.most-popular-grid .right-column {
  width: 300px;
  height: 270px;
  padding: 0;
}

.most-popular-grid  h2 {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  font-family: "Cuprum", Arial Narrow, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
}

.most-popular-grid .button {
  width: 135px;
  background-color: rgba(0, 0, 0, 0.1);
}

.most-popular-grid .button:hover,
.most-popular-grid .button:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.most-popular-grid .button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.most-popular-grid .yellow {
  position: relative;

  background-color: #ffbf47;
}

.most-popular-grid .material::after {
  content: "";
  position: absolute;
  right: 40px;
  top: 30px;
  width: 44px;
  height: 65px;

  background-image: url("../img/icon-1.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.most-popular-grid .delivery::after {
  content: "";
  position: absolute;
  right: 30px;
  top: 30px;
  width: 78px;
  height: 63px;

  background-image: url("../img/icon-5.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.most-popular-grid .blue {
  background-color: #3bbce3;
}

.most-popular-grid .instruments::after {
  content: "";
  position: absolute;
  right: 30px;
  top: 30px;
  width: 75px;
  height: 61px;

  background-image: url("../img/icon-2.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.most-popular-grid .violet {
  background-color: #dc91d8;
}

.most-popular-grid .equipment::after {
  content: "";
  position: absolute;
  right: 30px;
  top: 30px;
  width: 78px;
  height: 62px;

  background-image: url("../img/icon-3.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.most-popular-grid .green {
  position: relative;

  background-color: #8ed78f;
}

.most-popular-grid .discount::after {
  content: "";
  position: absolute;
  right: 45px;
  top: 25px;
  width: 59px;
  height: 72px;

  background-image: url("../img/icon-4.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.most-popular-grid .slider {
  width: 620px;
  height: 270px;
  padding: 0;

  background-color: #685c53;
}

.slider .slide {
  position: absolute;
  width: 620px;
  height: 270px;
  padding: 25px;
}

.slider .slide-current {
  z-index: 2;
}
.slider .slide:first-child {
  background-image: url("../img/slider1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slider .slide:nth-child(2) {
  background-image: url("../img/slider2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide h2 {
  margin: 0;
  padding: 0;

  font-size: 36px;
  line-height: 36px;
}

.slide p {
  display: block;
  margin: 0;
  margin-bottom: 120px;
  padding: 0;

  font-family: "Cuprum", Arial Narrow, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
}

.slide .button {
  width: 195px;
  background-color: #ee3643;
}

.slide .button:hover,
.slide .button:focus {
  background-color: #ca2c37;
  outline: none;
}

.slide .button:active {
  background-color: #ba2732;
}

.slider .arrow {
  position: absolute;
  width: 22px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  z-index: 10;

  font-size: 0;

  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  outline: none;

  cursor: pointer;
}

.slider .previous {
  left: 25px;

  background-image: url("../img/icon-left.svg");
}

.slider .next {
  right: 25px;

  background-image: url("../img/icon-right.svg");
}

.slider .switchers {
  position: absolute;
  left: 295px;
  bottom: 35px;
  display: flex;
  margin: 0;
  padding: 0;
  z-index: 10;

  font-size: 0;
  list-style: none;
}

.switchers .switcher {
  position: relative;
  width: 10px;
  height: 10px;
  padding: 0;

  font-size: 0;

  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  outline: none;

  cursor: pointer;
}

.switchers .switcher:focus {
  outline: 1px solid rgb(77, 144, 254);
}

.switchers .switcher-current::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 6px;
  height: 6px;
  z-index: 10px;

  background-color: #ee3643;
  border: none;
  border-radius: 50%;
}

.switchers li:not(:last-child) {
  margin-right: 10px;
}

 /*new-index*/
.new {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 59px;

  background-image: url("../img/new-index.png");
  background-position: center;
  background-repeat: no-repeat;
}

.popular-products {
  margin-bottom: 25px;
}

.heading-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  margin-bottom: 20px;
  padding: 25px;
  box-sizing: border-box;

  background-color: #f9f5f0;
}

.heading-wrapper h2 {
  font-family: "Cuprum", Arial Narrow, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
}

.heading-wrapper .button {
  width: 250px;
}

.products, .brands{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.products li {
  position: relative;
  width: 220px;
  height: 320px;
  padding: 15px 20px;
  box-sizing: border-box;
  overflow: hidden;

  border: solid 1px #eaeaea;
}

.products img {
  width: 178px;
  height: 115px;
  margin-bottom: 40px;
}

.products h3 {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
}

.products .previous-price {
  display: block;
  height: 18px;
  margin-bottom: 10px;

  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #a9a9a9;
  text-decoration: line-through;
  text-align: center;
}

.products .new-price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 38px;
  margin: 0 auto;

  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;

  background-color: #ee3643;
  background-image: url("../img/new-price.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.products .product-hover {
  display: none;
  position: absolute;
  left: 20px;
  top: 0;
  width: 180px;
  height: 130px;
  padding-top: 44px;
  box-sizing: border-box;

  text-align: center;

  background-color: #ffffff;
}

.product-hover .buy {
  position: relative;
  width: 135px;
  height: 38px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding-left: 30px;

  background-color: #63a63e;
  box-shadow: inset 0 -3px #367315;
}

.product-hover .buy::before {
  content: "";
  position: absolute;
  left: 15px;
  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.product-hover .buy:hover,
.product-hover .buy:focus {
  background-color: #5fbb2d;
}

.product-hover .buy:active {
  background-color: #518534;
  box-shadow: none;
}

.product-hover .buy:hover::before,
.product-hover .buy:focus::before,
.product-hover .buy:active::before {
  opacity: 1;
}

.product-hover .bookmark {
  width: 135px;
  height: 38px;
  margin: 0 auto;
  padding: 7px 20px;

  color: #32425c;

  background-color: transparent;
  border: solid 3px #63a63e;
  border-radius: 3px;
}

.product-hover .bookmark:hover,
.product-hover .bookmark:focus {
  border-color: #32425c;
}

.product-hover .bookmark:active {
  opacity: 0.3;
}

.products li:hover {
  border: none;
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.products li:hover .product-hover {
  display: block;
}

.popular-brands {
  margin-bottom: 65px;
}

.brands li {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.brands a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;
  padding: 20px 35px;
  box-sizing: border-box;

  border: solid 1px #eaeaea;
}

.brands a:hover,
.brands a:focus {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.brands a:active {
  opacity: 0.3;
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
}

.brands img {
  max-width: 148px;
  max-height: 103px;
}

.services {
  padding-top: 60px;

  background-color: #f4f7f9;
}

.services h2 {
  margin: 0
  margin-bottom: 30px;
  padding: 0;

  font-family: "Cuprum", Arial Narrow, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
 }

 .services p {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.services-menu {
  position: relative;
  min-height: 280px;
  margin: 0;
  margin-bottom: 75px;
  padding: 0;
  padding-top: 50px;

  list-style: none;
}

.services-menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 230px;
  width: 10px;
  height: 279px;

  background-image: url("../img/services-decor.png");
  background-position: center;
  background-repeat: no-repeat;
}

.services-menu li {
  width: 240px;
}

.services-menu li:not(:last-child) {
  border-bottom: solid 2px #4e637c;
}

.services-menu a {
  display: block;
  width: 240px;
  height: 60px;
  padding: 15px 25px;
  box-sizing: border-box;

  font-family: "Cuprum", Arial Narrow, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;

  background-color: #32425c;
  border: none;
}

.services-menu a:hover,
.services-menu a:focus {
  color: #ffffff;

  background-color: #293449;
}

.services-menu a:active,
.services-menu .service-current {
  color: #32425c;

  background-color: #ffffff;
}

.service {
  display: none;
  position: absolute;
  left: 320px;
  top: 50px;
  width: 620px;
  min-height: 280px;
  padding-right: 240px;
  box-sizing: border-box;
}

.service h3 {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  font-family: "Cuprum", Arial Narrow, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
}

.delivery-description {
  background-image: url("../img/truck.png");
  background-position: 100% 20px;
  background-size: 468px 261px;
  background-repeat: no-repeat;
}

.guarantee-description {
  background-image: url("../img/medal.png");
  background-position: 100% 0;
  background-size: 389px 261px;
  background-repeat: no-repeat;
}

.credit-description {
  background-image: url("../img/credit.png");
  background-position: 100% 0;
  background-repeat: no-repeat;
}

.credit-description .button {
  width: 195px;
  height: 38px;
  padding: 10px 20px;
  box-sizing: border-box;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
	color: #ffffff;

	background-color: #ff5357;
	border: none;
  border-radius: 3px;
}

.credit-description .button:hover,
.credit-description .button:focus {
  background-color: #ca2c37;
  outline: none;
}

.credit-description .button:active {
  color: #ffffff;

  background-color: #ba2732;
}

.service-current + .service {
  display: block;
}

.info {
  display: flex;
  justify-content: space-between;

  margin-bottom: 85px;
}

.info h2 {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  font-family: "Cuprum", Arial Narrow, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.info p {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.about-us {
  width: 560px;
}
.about-us .before-ul {
  margin-bottom: 25px;
}

.about-us ul {
  margin: 0;
  margin-bottom: 45px;
  padding: 0;

  font-family: "Cuprum", Arial Narrow, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  list-style: none;
}

.about-us li {
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
}

.about-us li:last-child {
  margin-bottom: 0;
}

.about-us li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 25px;
  height: 2px;
  margin-top: -1px;

  background-color: #ee3643;
  border: none;
}

.about-us .button {
  width: 220px;
}

.contacts {
  flex-shrink: 0;
  width: 300px;
}

.contacts p {
  margin-bottom: 40px;
}

.contacts .show-map {
  display: block;
  margin-bottom: 40px;
}

.main-footer {
  background-color: #32425c;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;

  margin-bottom: 50px;
}

.footer-logo {
  width: 220px;
  height: 72px;
  margin-bottom: 25px;
}

.footer-site-nav,
.footer-site-sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-self: flex-end;

  width: 560px;
  margin: 0;
  margin-left: auto;
  margin-bottom: 25px;
  padding: 0;

  list-style: none;
}

.footer-site-sections {
  align-self: flex-start;
}

.footer-site-nav li:not(:first-child),
.footer-site-sections li:not(:first-child) {
  margin-left: 60px;
}

.footer-site-nav a,
.footer-site-sections a {
  font-family: "Cuprum", Arial Narrow, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
}

.footer-site-sections a {
  color: #ffd180;
}

.footer-site-nav a:hover,
.footer-site-nav a:focus,
.footer-site-sections a:hover,
.footer-site-sections a:focus {
  text-decoration: underline;
}

.footer-site-nav a:active,
.footer-site-sections a:active {
  opacity: 0.5;
}

.footer-nav .address {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial Narrow, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
}

.footer-bottom {
  padding-top: 35px;
  padding-bottom: 30px;

  background-color: #293449;
}

.footer-bottom .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom p {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial Narrow, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

.footer-bottom .social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 300px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social li:not(:last-child) {
  margin-right: 5px;
}

.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  background-color: #212a3a;
  border: none;
  border-radius: 50%;
}

.social a:hover,
.social a:focus,
.social a:active {
  background-color: #ee3643;
}

.feedback a,
.designed a {
  color: #ffd180;
}

.feedback a:hover,
.feedback a:focus,
.designed a:hover,
.designed a:focus {
  text-decoration: underline;
}

.feedback a:active,
.designed a:active {
  color: #ee3643;
  text-decoration: none;
}
