body {
  min-width: 960px;
  margin: 0;
  padding: 0;

  font-family:  "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	-webkit-clip-path: inset(100%);

	        clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.button {

}

.button:hover,
.button:focus {

}

.button:active {

}

.button:disabled,
.button.disabled {

}

.nav-top {
  min-height: 40px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;

  background-color: #293449;
}

.nav-top .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.logo {
  position: absolute;
  top: 0;
  width: 220px;
  height: 45px;
  padding: 11px 55px;
  box-sizing: border-box;

  text-align: center;
  vertical-align: middle;

  background-color: #ee3643;
  border: none;
  box-shadow: inset 0 -5px rgba(0, 0, 0, 0.3);
}

.logo:hover,
.logo:focus {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.logo img {
  width: 110px;
  height: 18px;
}

.site-search {
  position: relative;
  margin:0;
  margin-left: 220px;
  padding: 0;
}

.input-search {
  width: 270px;
  height: 40px;
  margin: 0;
  padding: 5px;
  padding-left: 50px;
  box-sizing: border-box;

  font: inherit;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;

  background-color: #293449;
  border: none;
}

.input-search::placeholder {
  font: inherit;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

.input-search:hover {
  background-color: #212a3a;
}

.input-search:focus {
  color: #000000;

  background-color: #ffffff;
  outline: none;
}

.input-search:focus::placeholder{
  color: #000000;
}

.site-search svg {
  position: absolute;
  left: 0;
  width: 17px;
  height: 17px;
  margin: 11px 10px 11px 15px;

  opacity: 0.3;
}

.input-search:hover + svg,
.input-search:focus + svg {
  opacity: 1;
}

.input-search:focus + svg path {
  fill: #ee3643;
}

.top-button {
  position: relative;
  width: 150px;
  margin: 0;
  padding: 11px;
  padding-left: 45px;
  box-sizing: border-box;

  color: #ffffff;
  text-align: left;
}

.bookmarks::before {
  content: "";
  position: absolute;
  left: 15px;
  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.cart::before {
  content: "";
  position: absolute;
  left: 15px;
  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.top-button:hover::before,
.top-button:focus::before {
  opacity: 1;
}

.top-button:active,
.top-button:active::before {
  opacity: 0.5;
}

.make-order {
  position: relative;
  width: 150px;
  margin: 0;
  padding: 11px 15px;
  box-sizing: border-box;

  color: #ffffff;
  text-align: center;

  background-color: #63a63e;
}

.make-order:hover,
.make-order:focus {
  background-color: #5fbb2d;
  opacity: 1;
}

.make-order:active {
  background-color: #518534;
  opacity: 0.5;
}
